.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    &_title {
        width: 50%;
        user-select: none;
        font-size: 26px;
        text-align: left;
        &__light {
            color: #000000;
        }

        &__dark {
            color: #FFFFFF;
        }
    }


    &_button {
        display: flex;
        justify-content: flex-end;
        margin: 0 !important;
        width: 50%;
        all: inherit;
        cursor: pointer;
        height: fit-content;
        span {
            font-size: 11px;
            line-height: 20px;
        }


        &__light {
            color: #4B6A9B;
        }

        &__dark {
            color: #FFFFFF;
            svg > g {
                fill: #FFFFFF;
            }
        }
    }

    &_button__light:hover {
        color: #222731;
        svg > path {
            fill: #222731;
        }

    }

    &_button__dark:hover {
        color: #90A4D4;
        svg > g {
            fill: #90A4D4;
        }
    }

    &_buttonCopy {
        font-weight: 700;
        padding-right: 12px;
        letter-spacing: 2.5px;
        margin: 0;
    }
}

@media screen and (min-width: 426px)
{
    .header {
        &_button {
            span {
                font-size: 13px;
            }
        }
    }
} 

@media screen and (min-width: 524px){
    .header {
        margin-top: 80px;
        max-width: 572px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        max-width: 730px;
    }
}


