.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    &_title {
        width: 50%;
        user-select: none;
        font-size: 26px;
    }

    &_button {
        display: flex;
        justify-content: flex-end;
        margin: 0 !important;
        width: 50%;
        all: inherit;
        cursor: pointer;
        height: fit-content;
        color: #4B6A9B;
    }

    &_button:hover {
        color: #222731;
        svg > path {
            fill: #222731;
        }
    }

    &_buttonCopy {
        font-weight: 700;
        padding-right: 12px;
        letter-spacing: 2.5px;
        margin: 0;
    }
}

@media screen and (min-width: 524px){
    .header {
        max-width: 572px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        max-width: 730px;
    }
}


