body {
    background-color: #F6F8FF;
}

.App {
  text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 16px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

h4 {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

p {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
}

@media screen and (min-width: 426px) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 13px;
    }
}

